@import url('https://fonts.googleapis.com/css2?family=Shadows Into Light:wght@400;500;700&display=swap');


*{
    font-family: 'Shadows Into Light';
}
.cadre{
    background-color: #29347B;
    color: #ffffff;
}